.search-page {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: row;
    width: 327px;
    height: 40px;
    align-items: center;
}

.search-input {
    width: 100%;
    margin-left: 10px;
}

.title {
    width: 97px;
    height: 19px;

    font-family: 'Average';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.result-books {
    left: 24px;
    top: 218px;
    display: flex;
    flex-direction: column;
}

.all-books {
    left: 24px;
    top: 556px;
    display: flex;
    flex-direction: column;
}
