.layout {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 812px;
  border: 1px solid black;
  position: relative;
}

.content {
  overflow-y: scroll;
  height: 728px;
}

.navbar-layout {
  top: 728px;
  left: 0px;
  position: absolute;
}
