.homepage {
    overflow-y: scroll;
    height: 100%;
}
.greet-title {
    margin-top: 57px;

    font-family: 'Average';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: -0.28px;

    /* Gray 1 */

    color: #333333;
}

.greet-subtitle {

    font-family: 'Average';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.28px;

    color: #828282;
}

.books-section {
    margin-top: 32px;
}

.premium-banner {
    position: relative;
    margin-top: 50px;
    width: 327px;
    height: 157px;

    background: #FDF1C6;
    border-radius: 10px;
}

.premium-icon {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 231px;
    top: 46px;

    background: url(premium-icon.png);
}

.premium-text {
    position: absolute;
    width: 160px;
    height: 48px;
    left: 24px;
    top: 36px;

    font-family: 'Average';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.popular-authors-title {
    margin-top: 50px;
    width: 111px;
    height: 19px;

    font-family: 'Average';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.authors-section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.author-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
